{% load staticfiles %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet"/>
    <title></title>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="{% static 'logo.png' %}" class="logo">
        </div>
    </div>
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert" id="flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="panel-title">Sign In</div>

            </div>

            <div style="padding-top:30px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form" action="/login" method="post">

                    {% csrf_token %}
                    {{ loginform|bootstrap }}

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            {#                                      <a id="btn-login" href="#" class="btn btn-success">Login  </a>#}
                            <button id="btn-signup" type="submit" class="btn btn-lg btn-success"><i
                                    class="icon-hand-right"></i> &nbsp Login
                            </button>

                        </div>


                    </div>


                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Don't have an account!
                                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                    Sign Up Here
                                </a>
                            </div>

                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div id="signupbox" style="display:none;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div>
            <div class="panel-body">
                <form id="signupform" class="form-horizontal" role="form" action="/register" method="post">

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>

                    {% csrf_token %}
                    {{ registerform|bootstrap }}

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-12 controls">
                            <button id="btn-signup" type="submit" class="btn btn-lg btn-success"><i class="icon-hand-right"></i>
                                &nbsp Sign Up
                            </button>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Already have an account?
                                <a href="#" onClick="$('#signupbox').hide(); $('#loginbox').show()">
                                    Sign in here
                                </a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>


</body>
</html>
